.box{
    width: 100px;
    height: 100px;
    border: 2px solid black;
    display:inline-block;
    height: 300px;
    width: 200px;
}
.box1{
    background-color: olive;
}
.box2{
    background-color: rgb(76, 3, 23);
}
.box3{
    background-color: teal;
}
.container{
    width: 800px;
    height: 500px;
    border: 2px solid black;
}